body{ 
	background-image: url("https://vignette.wikia.nocookie.net/fantendo/images/6/6e/Small-mario.png/revision/latest?cb=20120718024112"); 
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-size: 200px 200px;
	 }